    
@if (Request.IsAuthenticated) {
    <ul class="nav navbar-nav navbar-right">
        <li class="active">@Html.ActionLink("Управление учетной записью", "Manage", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="active"> <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style="display: none" })) {
                @Html.AntiForgeryToken()
            }
    </ul>
    } else {
        <ul class="nav navbar-nav navbar-right">
            <li class="active">@Html.ActionLink("Зарегестрироваться", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li class="active"> @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
