@using System.Web.UI.WebControls

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div style="text-align: center">
            <h3>
                @ViewBag.Message
            </h3>
        </div>
